{% extends 'base.html' %}
{% load static %}
<!-------------------------------------------------------------------------->
{% block navbar %}
{% include 'components/navbar.html' %}
{% endblock navbar %}
<!-------------------------------------------------------------------------->
{% block left_sidebar %}
{% include 'components/left/sidebar.html' %}
{% endblock left_sidebar %}
<!-------------------------------------------------------------------------->
{% block content %}
<p class="text-4xl font-bold">Hola a todos</p>
{% endblock content %}
<!-------------------------------------------------------------------------->
{% block right_sidebar %} {% endblock right_sidebar %}
<!-------------------------------------------------------------------------->
{% block footer %} {% endblock footer %}
<!-------------------------------------------------------------------------->
{% block javascript %}{% endblock javascript %}