{% extends 'base.html' %}
{% load static %}
<!-------------------------------------------------------------------------->
{% block navbar %}
{% comment %} {% include 'components/navbar.html' %} {% endcomment %}
{% endblock navbar %}
<!-------------------------------------------------------------------------->
{% block left_sidebar %}
{% comment %} {% include 'components/sidebars/left/sidebar.html' %} {% endcomment %}
{% endblock left_sidebar %}
<!-------------------------------------------------------------------------->
{% block content %}
<p class="text-red-700 text-4xl font-bold">Hola a todos</p>
{% endblock content %}
<!-------------------------------------------------------------------------->
{% block right_sidebar %}
{% endblock right_sidebar %}
<!-------------------------------------------------------------------------->
{% block footer %}
{% endblock footer %}
<!-------------------------------------------------------------------------->
{% block javascript %}{% endblock javascript %}